<div class="row">
  <form id="task">
    <div class="controls offset2">
      <input class="span8 edit" type="text" maxlength="52" placeholder="name...">
    </div>
    <div class="controls offset2">
      <textarea class="span8 edit" name="notes" id="" rows="10" placeholder="notes..."></textarea>
    </div>
  </form>
  <div class="controls offset2">
    <button class="btn btn-small btn-success">Done</button>
    <button class="btn btn-small btn-danger">Delete</button>
    <button class="btn btn-small btn-warning">Defer</button>
    <button class="btn btn-small btn-primary">New</button>
  </div>

</div>